
.admin-dashboard{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.main-dashboard-content{
    min-height: 100vh;
    margin-left: 15.8%;
    overflow-y: auto;
}

.admin-navbar-container{
    height: 60px;
    margin-left: 15.8%;
    padding-left: 1rem;
    padding-top: 0.5rem;
    /* border: 2px solid white; */
}