* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.landing-page {
    background: #f6f1e7;
    min-height: 100vh;
}

.landing-page-header {
    /* border: 2px solid black; */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.landing-page-header-bottom{
    font-size: 1rem;
    margin-top: 1rem;
    color:#7e7d7d;
}

@media (max-width: 768px) {

    .landing-page-header{
        font-size: 1.25rem;
    }
    .landing-page-header-bottom{
        font-size: 0.9rem;
    }
}